.profile_container{
  padding-top: 45px;
  border: solid 3px black;
  border-radius: 15px;
}


.img_wrapper{
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #1a1f1a;
  border-radius: 100%;
  margin-bottom: 45px;
}

.img{
  border-radius: 100%;
}


.user_info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-bottom: 45px;
}

.user_name{
  color: #1a1f1a;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.user_email{
  color: gray;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.user_adress{
  color: gray;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.stats_wrapper{
  display: flex;
  justify-content: space-between;
  border-top: solid 3px grey;
  background-color: rgb(238, 240, 222);
  border-radius: 0px 0px 10px 10px;
}

.stats_info_name{
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

.stats_ifo_number{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-right: solid 2px grey;
  width: calc(100% / 3);
  
}

.item:last-child{
  border-right: none;
}